[submodule "learning/learning/dep/glfw"]
	path = learning/learning/dep/glfw
	url = https://github.com/glfw/glfw.git
[submodule "learning/dep/learning/dep/glm"]
	path = learning/dep/learning/dep/glm
	url = https://github.com/g-truc/glm.git
